MONGODB_URL=
MONGODB_DB=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=
SMTP_PASSWORD=
SMTP_FROM=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

GOOGLE_SERVICE_ACCOUNT=credentials/google-service-account.json
GOOGLE_CALENDAR_ID=primary

DEFAULT_APPOINTMENT_MEET_LINK=https://meet.google.com/abc-defg-hij

BACKEND_CORS_ORIGINS=http://localhost:3000

SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=11520